.about {
  padding-top: 100px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.about__wrapper {
  display: grid;
  gap: 40px 80px;
  grid-template-columns: 600px 500px;
  grid-template-rows: 222px 191px 84px;
  grid-template-areas:
  "image text"
  "image quote"
  "image cite";
}

.about__image {
  grid-area: image;
}

.about__subscription {
  grid-area: text;
}

.about__paragraph {
  line-height: 28px;
}

.about__paragraph:first-child {
  margin-bottom: 28px;
}

.about__quote {
  grid-area: quote;
  quotes: "\201C" "\201D";
}

.about__text {
  padding-left: 15px;
  display: inline-block;
  width: 469px;
  overflow: visible;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}

.about__quote:before {
  vertical-align: top;
  content: open-quote;
  color: var(--main-button, #6C0287);
  font-size: 44px;
  font-weight: 900;
}

.close {
  color: var(--main-button, #6C0287);
  font-size: 44px;
  font-weight: 900;
}

.cite {
  grid-area: cite;
  justify-self: end
}

.cite__image {
  margin-right: 30px;
}

.cite__name {
  display: inline-block;
  width: 279px;
  line-height: 28px;
}

@media (max-width: 1260px) {
  .about {
    padding-top: 70px;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .about__wrapper {
    gap: 15px 40px;
    grid-template-columns: 421px 444px;
    grid-template-rows: 195px 115px 78px;
  }

  .about__image {
    width: 421px;
    height: auto;
  }

  .about__paragraph {
    font-size: 18px;
    line-height: 24px;
  }

  .about__paragraph:first-child {
    margin-bottom: 24px;
  }

  .about__text {
    font-size: 30px;
    line-height: 36px;
    width: 414px;
    padding-left: 0;
  }

  .about__quote:before {
    font-size: 30px;
  }

  .close {
    font-size: 30px;
  }

  .cite__image {
    width: 70px;
    height: auto;
  }

  .cite__name {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 865px) {
  .about {
    padding-top: 60px;
  }

  .about__wrapper {
    gap: 28px 28px;
    grid-template-columns: 382px 278px;
    grid-template-rows: 381px repeat(2, 79px);
    grid-template-areas:
  "image text"
  "quote quote"
  "cite cite";
  }

  .about__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 26px;
  }

  .about__image {
    width: 382px;
    height: auto;
  }

  .about__subscription {
    width: 278px;
    align-self: center;
  }

  .about__paragraph {
    font-size: 16px;
    line-height: 22px;
  }

  .about__paragraph:first-child {
    margin-bottom: 22px;
  }

  .about__text {
    font-size: 32px;
    line-height: 36px;
    width: 630px;

  }

  .about__quote:before {
    font-size: 32px;
  }

  .close {
    font-size: 32px;
  }

  .cite__name {
    width: 225px;
  }
}

@media (max-width: 440px) {
  .about {
    padding-top: 30px;
  }

  .about__wrapper {
    gap: 15px 0;
    grid-template-columns: 280px;
    grid-template-rows: 127px 281px 79px 50px;
    grid-template-areas:
  "text"
  "image"
  "quote"
  "cite";
  }

  .about__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .about__image {
    width: 280px;
    height: auto;
  }

  .about__subscription {
    width: 280px;
    align-self: center;
  }

  .about__paragraph {
    font-size: 12px;
    line-height: 16px;
  }

  .about__paragraph:first-child {
    margin-bottom: 16px;
  }

  .about__text {
    font-size: 18px;
    line-height: 26px;
    width: 250px;
  }

  .about__quote:before {
    font-size: 22px;
  }

  .close {
    font-size: 22px;
  }

  .cite {
    align-self: start;
  }

  .cite__name {
    width: 160px;
    font-size: 12px;
    line-height: 19px;
  }

  .cite__image {
    width: 50px;
    height: auto;
    margin-right: 20px;
  }
}
