.social__icon:hover > path {
  fill: var(--hover-icon, #EADEED);
}

.social__icon:active > path {
  fill: var(--main-border, #CD06FF);
}

.social__icon > path {
  transition-duration: 0.3s;
  transition-property: fill;
}

.footer {
  padding-top: 100px;
  padding-bottom: 30px;
  background: linear-gradient(180deg, var(--main-background, #1B1A1B) 0%,
                                      var(--footer-gradient, #370A37) 100%);
}

.footer__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.contacts__list {
  color: var(--main-color, #ffffff);
  font-style: normal;
  line-height: 28px;
}

.social__list {
  display: flex;
  gap: 0 28px;
}

.contacts__icon {
  margin-bottom: 30px;
}

.contacts__item {
  display: block;
}

.contacts__item:first-child,
.contacts__item:last-child {
  margin-bottom: 40px;
}

.contacts__item:nth-child(2) {
  margin-bottom: 11px;
}

.contacts__text {
  display: inline-block;
  width: 250px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  flex-basis: 160px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 1260px) {
  .footer {
    padding-top: 70px;
  }

  .footer__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .footer__map {
    width: 542px;
    height: 274px;
  }

  .footer__wrapper {
    margin-bottom: 90px;
  }

  .contacts__icon {
    margin-bottom: 0;
  }

  .contacts__item {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 865px) {
  .footer__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contacts__item {
    text-align: center;
  }

  .social {
    margin-bottom: 30px;
  }
}

@media (max-width: 440px) {
  .footer {
    padding-top: 30px;
  }

  .footer__title {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__text {
    font-size: 14px;
    line-height: 18px;
    width: 180px;
  }

  .social__icon {
    width: 30px;
    height: 30px;
  }

  .footer__map {
    width: 280px;
    height: 194px;
  }

  .footer__wrapper {
    margin-bottom: 60px;
  }

  .footer__copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__text {
    flex-basis: 30px;
    width: 135px;
    font-size: 12px;
    line-height: 16px;
  }
}
