.header__button:hover {
  background-color: var(--main-button, #6C0287);
  border: 3px solid var(--main-button, #6C0287);
}

.header__button:active {
  background: var(--background-button, #640AA3);
  outline: 1px solid var(--main-background, #1B1A1B);
}

.header__button:focus {
  background-color: var(--main-button, #6C0287);
  outline: 3px solid var(--main-button, #6C0287);
  border: 3px solid var(--main-button, #6C0287);
}

.header__link:hover {
  text-shadow: 0 0 10px var(--main-color);
}

.header__link:hover > svg > rect {
  fill: var(--main-border, #CD06FF);
}

.header__link:active > svg > rect {
  fill: var(--hover-button, #840AA3);
}

.header__link:focus > svg > rect {
  fill: var(--hover-button, #840AA3);
}

.header__popap {
  display: none;
  position: fixed;
  background-color: var(--main-background, #1B1A1B);
  left: 0;
  top: -383px;
  width: 100%;
  height: 383px;
  transform: translateY(-383px);
  z-index: 1000;
}

.header__menu-mobile {
  display: none;
}

.header__list {
  display: flex;
  gap: 40px;
  height: 100%;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  align-items: center;
  width: 280px;
  height: 55px;
  border: 3px solid var(--main-border, #CD06FF);
  border-radius: 10px;
  background: transparent;
  color: var(--main-color, #FFFFFF);
  transition-duration: 0.3s;
  transition-property: background-color, border, outline;
}

@media (max-width: 1365px) {
  .header__list {
    gap: 20px;
    height: 100%;
    font-size: 18px;
    line-height: 22px;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .header__button {
    width: 229px;
    height: 45px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 970px) {
  .header__menu-full {
    display: none;
  }

  .header__menu-mobile {
    display: block;
    order: 0;
  }

  .header__popap {
    align-content: center;
  }

  .header__hamb {
    background-color: inherit;
    border: none;
  }

  .open {
    display: flex;
    width: 100%;
  }

  .overflow {
    overflow: hidden;
  }

  .header__menu .header__list {
    flex-direction: column;
    align-content: center;
    width: 100%;
    justify-content: space-around;
    gap: 30px;
  }

  .header__menu .header__list > .header__item {
    align-content: center;
    width: 100%;
    flex-basis: 50px;
    align-self: center;
    text-align: center;
  }

  .header__menu .header__list > .header__item > .header__link {
    width: 100%;
    display: block;
    height: 100%;
    line-height: 50px;
  }

  .header__link {
    order: 1;
  }

  .header__button {
    order: 2;
  }

  .header__menu .header__list > .header__item:hover {
    background-color: var(--main-button, #6C0287);
  }

  .header__popap .header__button {
    display: none;
  }
}

@media (max-width: 640px) {
  .header__logo {
    width: 66px;
    height: 42px;
  }

  .header__button {
    display: none;
  }

  .header__menu-mobile {
    width: 39px;
  }

  .header__popap {
    top: -425px;
    width: 100%;
    height: 352px;
    flex-direction: column;
  }

  .header__menu-full {
    margin-bottom: 30px;
  }

  .header__menu .header__list {
    justify-content: flex-start;
    gap: 20px;
  }

  .header__menu .header__list > .header__item {
    flex-basis: 25px;
  }

  .header__menu .header__list > .header__item > .header__link {
    line-height: 25px;
  }

  .header__popap .header__button {
    display: flex;
    width: 100%;
  }

  .header__popap .header__button {
    width: 280px;
    align-self: center;
    padding-left: 50px;
  }
}
