.header__button:hover {
  background-color: var(--main-button, #6C0287);
  border: 3px solid var(--main-button, #6C0287);
}

.header__button:active {
  background: var(--background-button, #640AA3);
  outline: 1px solid var(--main-background, #1B1A1B);
}

.header__button:focus {
  background-color: var(--main-button, #6C0287);
  outline: 3px solid var(--main-button, #6C0287);
  border: 3px solid var(--main-button, #6C0287);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.header__menu-mobile {
  display: none;
}

.header__list {
  display: flex;
  gap: 40px;
  height: 100%;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  align-items: center;
  width: 280px;
  height: 55px;
  border: 3px solid var(--main-border, #CD06FF);
  border-radius: 10px;
  background: transparent;
  color: var(--main-color, #FFFFFF);
  transition-duration: 0.3s;
  transition-property: background-color, border, outline;
}

@media (max-width: 1260px) {
  .header__list {
    gap: 20px;
    height: 100%;
    font-size: 18px;
    line-height: 22px;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .header__button {
    width: 229px;
    height: 45px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 865px) {
  .header__menu-full {
    display: none;
  }

  .header__menu-mobile {
    display: block;
    order: 0;
  }

  .header__link {
    order: 1;
  }

  .header__button {
    order: 2;
  }
}

@media (max-width: 440px) {
  .header {
    padding-top: 20px;
  }

  .header__logo {
    width: 66px;
    height: 42px;
  }

  .header__button {
    display: none;
  }

  .header__menu-mobile {
    width: 39px;
  }
}
