.header__button:hover {
  background-color: #6C0287;
  border: 3px solid #6C0287;
}

.header__button:active {
  background-color: #640AA3;
  border: 1px solid #000000;
}

.header__button:focus {
  background-color: #6C0287;
  outline: 1px solid #CD06FF;
}

.header__anchor:hover {
  background-color: #840AA3;
}

.header__anchor:active {
  background-color: #640AA3;
}

.header__anchor:focus {
  background-color: #840AA3;
}

.header__push:hover {
  fill: #ffffff;
}

.header__push:hover > rect {
  fill: #6C0287;
}

.header__push:active > circle {
  fill: #CD06FF;
  stroke: #CD06FF;
}

.header__push:focus {
  outline: #CD06FF solid 1px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.header__button {
  width: 280px;
  height: 55px;
  background-color: #1B1A1B;
  color: #ffffff;
  border: 3px solid #CD06FF;
  border-radius: 10px;
}

.navigation__item {
  display: block;
}

.logo {
  height: 66px;
}

.header__title {
  font-size: 150px;
}

.header__subtitle {
  font-size: 28px;
  margin-left: 130px;
  margin-bottom: 65px;
}

.header__title:after {
  position: relative;
  display: inline-block;
  float: right;
  content: "";
  height: 762px;
  width: 675px;
  background-size: contain;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  margin-top: -90px;
}

.header__subtext {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  width: 191px;
  flex-basis: 70px;
}

.header__num {
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: #CD06FF;
  text-align: center;
}

.header__text {
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color: #CD06FF;
  text-align: center;
}

.header__promo {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.header__wrapper {
  flex-basis: 190px;
}

.header__anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 374px;
  background: #6C0287;
  border-radius: 10px;
  margin-bottom: 100px;
}

.header__link {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
}

.header__slide {
  position: absolute;
  padding-left: 550px;
  top: 850px;
}
