.reviews__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.reviews__item {
  display: inline-block;
  text-align: center;
  width: 1080px;
  padding-left: 100px;
  margin-bottom: 50px;
}

.reviews__item:last-child {
  margin-bottom: 0;
}

.reviews__figure {
  position: relative;
  float: left;
}

.reviews__image {
  margin-bottom: 10px;
  margin-right: 20px;
}

.reviews__figure:after {
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  position: absolute;
  top: 0;
  border-radius: 140px;
  background-image: radial-gradient(50% 50% at 50% 50%,
                    rgba(196, 196, 196, 0) 0%,
                    rgba(108, 2, 135, 0.5) 100%);
}

.reviews__text {
  padding-top: 60px;
  text-align: left;
  line-height: 28px;
}
