:root {
  --main-background: #1B1A1B;
  --main-color: #ffffff;
  --main-border: #CD06FF;
  --main-button: #6C0287;
  --background-button: #640AA3;
  --hover-icon: #EADEED;
  --footer-gradient: #370A37;
  --faq-item: #440F51;
}
